{% extends 'tapasapp/base.html' %}
{% load static %}



                {% block content %}
                <div class="col-12 pt-3">
                    <h1 class="welcome-text">Welcome, {{ user.username }}!</h1>
                    <hr>
                    <div class="mb-3">
                        <a href="{% url 'manage_account' pk=user.pk %}" class="btn btn-info">Manage Account</a>
                        <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a>
                    </div>
                    
                    <h3>Your Features</h3>
                    <a href="{% url 'better_menu' pk=user.pk %}" class="btn btn-secondary">View Tapas Menu</a>
                </div>
                {% endblock %}