{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-6 offset-md-3 mt-2 pt-5">
    <div class="card shadow-sm">
        <div class="card-header text-center signup-header">
            <h5 class="card-title mb-0">Change Current Password</h5>
        </div>

        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label>Current Password:</label>
                    <input type="password" name="current_pword" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label>New Password:</label>
                    <input type="password" name="new_pword" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label>Confirm New Password:</label>
                    <input type="password" name="confirm_pword" class="form-control" required>
                </div>

                {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <button type="submit" class="btn btn-success">Confirm Change</button>
                <a href="{% url 'manage_account' pk=user.pk %}" class="btn btn-secondary float-end">Cancel</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}