{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-8 offset-md-2" style="margin-top: 30px;">
    <div class="card manage-card">
        <div class="card-header manage-card-header">
            <h5 class="mb-0 account-title">Manage Account</h5>
        </div>

        <div class="card-body text-center" style="padding: 35px;">
            <h4 class="mb-2 mt-0">Logged in as: "<strong>{{ user.username }}</strong>"</h4>
            <p class="text-muted mt-4 mb-2">Choose an action below.</p>
            <hr>
            <div class="mb-2">
                <a href="{% url 'change_password' pk=user.pk %}" class="btn btn-warning me-2">Change Password</a>
                <a href="{% url 'delete_account' pk=user.pk %}" class="btn btn-danger  me-2"
                    onclick="return confirm('This account will be permanently deleted. Do you still wish to delete this account?')">
                    Delete Account
                </a>
                <a href="{% url 'basic_list' pk=user.pk %}" class="btn btn-secondary">Back</a>
                
            </div>

        </div>
    </div>
</div>
{% endblock %}