{% extends 'tapasapp/base.html' %}
{% load static %}



                {% block content %}
                <div class="col-md-6 offset-md-3">
                    <div class="card shadow-sm">
                        <div class="card-header text-center">
                            <h5 class="card-title mb-0">Create New Account</h5>
                        </div>
                        
                        <div class="card-body">

                            <form method="POST"> {% csrf_token %}
                                <div class="form-group mb-3 text-start">
                                    <label class="form-label">Create Username:</label>
                                    <input type="text" name="username" class="form-control" required>
                                </div>
                                
                                <div class="form-group mb-4 text-start">
                                    <label class="form-label">Create Password:</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>

                                {% if error %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endif %}

                                <div class="text-center mb-3">
                                    <button type="submit" class="btn btn-success px-5">Create Account</button>
                                </div>

                                {% if error %}
                                    <div class="text-center mt-4">
                                        <p class="mt-3 mb-0 text-muted">Would you like to log in instead? <a href="{% url 'login' %}" class="text-primary text-decoration-none">Login</a></p>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endblock %}